<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Información</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p class="text-app" text-justify>
    Esta aplicación móvil ha sido desarrollada por el <b>Observatorio TUI Chile</b> (OBBTUI), en conjunto con el <b>Departamento de Tecnologías de Información y Comunicación</b> (DTIC) de la Universidad de Valparaíso.
  </p>
  <p class="text-app">Más información, en los siguientes enlaces.</p>
  <button ion-button block class="btn-app" (click)="OBBTUI()">
    OBB TUI Chile
  </button>
  <button ion-button block class="btn-app" (click)="DTIC()">
    DTIC
  </button>
  <p class="text-app" text-center *ngIf="version != 'cordova_not_available'">
    <b>Versión de la aplicación: v{{ version }}.</b>
  </p>
  <p class="text-app" text-center *ngIf="version != 'cordova_not_available'">
    <b>Nombre del paquete de la aplicación: {{ package }}.</b>
  </p>
  <p class="text-app" text-center *ngIf="version == 'cordova_not_available'">
    <b>Información de la aplicación sólo funciona en dispositivos móviles.</b>
  </p>
</ion-content>