@mixin background-image-styles($background, $spinner-size, $spinner-color) {
  background-image {
    .bg-overlay
    {
      background-color: $background;
    }

    spinner-size: $spinner-size;
  	spinner-color: $spinner-color;
  }
}
