page-horario {

  ion-content {
    background-color: #F7F7F7;
  }

  .scroll-content {
    margin: 0px !important;
  }

  ion-slides > div > div > ion-slide > div > ion-grid > ion-row > ion-col.col[col-4] {
    font-size: 12px;
  }

  ion-slides > div > div > ion-slide > div > ion-grid > ion-row > ion-col.col[col-8] {
    font-size: 12px;
  }

  ion-slide.swiper-slide {
    align-items: flex-start;
    top: 35px;

    .slide-zoom {
      height: 100%;
      overflow-y: auto;
    }
  }

  ion-grid {
    background-color: $theme-color-2;
    color: $white;
    border-radius: 5px;
    margin-top: 10px;
  }

  .horario-btn {
    background-color: $theme-color-1;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
  }
}